This is a Laravel project that uses inertia 2.0 and svelte. 
Use tailwind for styling.
Use runes for svelte components.
When working on the frontend in svelte, use the user interface components in resources/js/components/ui as building blocks where appropriate.